django==4.2.11
django-bootstrap4
django-loginas
django-gmailapi-json-backend
django-taggit
bootstrap_admin
mysqlclient
pycryptodome
cryptography
pyodbc
python-ldap
python-memcached
pymemcache
requests
