{% extends "home.html" %}
{% block meta %}
{{block.super}}
<meta http-equiv="refresh" content="30">
{% endblock %}
{% block extra_style %}
{{block.super}}
<style>
#dining h1 {text-align:center;font-size:4rem;}
</style>
{% endblock %}
{% block container %} class="mb-4"{% endblock %}
{% block content %}
<h1 class="clear" style="padding-bottom:12px;font-size:6rem; background-color:#efefef;text-align:center;">Dining Occupancy Around Campus</h1>
<div id="dining" class="row mt-4">
  <div class="d-flex justify-content-center col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="p-2">
          <h1{% if user.is_superuser %} title="occupied: {{stu.okupa}} | {{stu.capacity}} | {{stu.percent}}"{% endif %}>
          Student Union
          </h1>
          <div class="c100 big p{% if stu.percent <= 10 %}10{% else %}{{stu.percent}}{% endif %}">
            <span>
            {% if stu.percent <= 10 %}&lt; 10{% else %}{{stu.percent}}{% endif %}%
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
    </div>
  </div>
  <!-- /.col-* -->
  <div class="d-flex justify-content-center col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="p-2">
          <h1{% if user.is_superuser %} title="occupied: {{caf.okupa}} | {{caf.capacity}} | {{caf.percent}}"{% endif %}>
          Cafeteria
          </h1>
          <div class="c100 big p{% if caf.percent <= 10 %}10{% else %}{{caf.percent}}{% endif %}">
            <span>
            {% if caf.percent <= 10 %}&lt; 10{% else %}{{caf.percent}}{% endif %}%
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
    </div>
  </div>
  <!-- /.col-* -->
  <div class="d-flex justify-content-center col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="p-2">
          <h1{% if user.is_superuser %} title="occupied: {{byt.okupa}} | {{byt.capacity}} | {{byt.percent}}"{% endif %}>
              Donna's Bytes
          </h1>
          <div class="c100 big p{% if byt.percent <= 10 %}10{% else %}{{byt.percent}}{% endif %}">
            <span>
            {% if byt.percent <= 10 %}&lt; 10{% else %}{{byt.percent}}{% endif %}%
            </span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
    </div>
  </div>
  <!-- /.col-* -->
</div>
<!-- /#app -->
{% endblock %}
{% block footer %}{% endblock %}
